body{
	background-color: #505050;
	color: black;
}
.page {
	margin: 0 auto;
	width: 1420px;
}
header, .left-section, .center-section, .right-section, .chat-section{
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 5px black;
	padding: 10px;
	margin-top: 20px;
	margin-left: 20px;
}
header{
	height: 137px;
	width: 1420px;
	position: relative;
}
.logo{
	width: 500px;
}
.search{
	width: 200px;
	position: absolute;
	right: 300px;
	bottom: -20px;
}
header .button{
	width: 20px;
}
.reload{
	position: absolute;
	top: 10px;
	right: 10px;
}
.close{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.left-section{
	float: left;
	width: 100px;
	height: 410px;
}
.left-section img{
	width: 50px;
	height: 50px;
}
.center-section{
	float: left;
	position: relative;

}
.right-section{
	float: left;
	width: 100px;
	height: 480px;
}
.right-section img{
	width: 50px;
	height: 50px;
}
.chat-section{
	background-color: #a6fb96;
	width: 500px;
	height: 150px;
	position: absolute;
	bottom: 0px;
	left: -20;
}
.italic {
	font-style: italic;
}
.big {
	font-family: Times;
	font-size: 31px;
}
#brick-bg {
	content: '';
	background-image: url('resources/brick.jpg');
	width: 120px;
	height: 70px;
	margin:-5px 0 0 -25px;
}