body{
	background-color: #505050;
	color: black;
}
.page {
	text-align: center;
}
header, .left-section, .center-section, .right-section, .chat-section{
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 5px black;
	padding: 10px;
	margin-top: 20px;
	margin-left: 20px;
}
header{
	height: 110px;
	width: 1400px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	position: absolute;
	width: 400px;
	left: 10px;
}
.search{
	width: 230px;
	position: absolute;
	right: 30px;
	bottom: -20px;
}
header img.reload, header img.close{
	width: 20px;
	position: absolute;
	right: 10px;
}
header img.reload{
	position: absolute;
	top: 10px;
}
header img.close{
	position: absolute;
	bottom: 10px;
}
.left-section, .center-section, .right-section{
	display: inline-block;
	vertical-align:top;
	text-align: center;
}
.left-section, .right-section{
	width: 120px;
}
.left-section{
	height: 410px;
	margin-left: 0px;
}
.right-section{
	height: 420px;
}
.left-section img, .right-section img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 70px;
}
#brick-bg {
	background-image: url('resources/brick.jpg');
	width: 120px;
	height: 70px;
	margin: 0 auto;
}
.chat-section{
	background-color: #a6fb96;
	width: 500px;
	height: 150px;
	position: absolute;
	bottom: 0px;
	left: -20;
}
.chat-section span.italic {
	font-style: italic;
}
.chat-section span.big {
	font-family: Times;
	font-size: 31px;
}
.chat-section span.shadow {
    text-shadow: 5px 5px 5px #ff0000;
}