body{
	background-color: #505050;
	color: black;
}
.page {
	text-align: center;
}
header, .left-section, .center-section, .right-section, .chat-section{
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 5px black;
	padding: 10px;
	margin-top: 20px;
	margin-left: 20px;
}
header{
	height: 110px;
	width: 1400px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	position: absolute;
	width: 400px;
	left: 10px;
}
.search{
	width: 230px;
	position: absolute;
	right: 30px;
	bottom: -20px;
}
header img.reload, header img.close{
	width: 20px;
	position: absolute;
	right: 10px;
}
header img.reload{
	top: 10px;
}
header img.close{
	bottom: 10px;
}
.left-section, .center-section, .right-section{
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.left-section, .right-section{
	width: 120px;
}
.left-section{
	height: 410px;
	margin-left: 0px;
}
.center-section{
	width: 1024px;
	height: 576px;
	position: relative;
}
.right-section{
	height: 420px;
}
.left-section img, .right-section img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width: 70px;
	border: 5px solid transparent;
}
.left-section img.selected {
    border: 5px solid red;
    border-radius: 5px;
}
#brick {
	background-image: url('resources/brick.jpg');
	width: 120px;
	height: 70px;
	margin: 0 auto;
}
.chat-section{
	display: block;
	background-color: #a6fb96;
	width: 400px;
	height: 120px;
	left: -200px;
	bottom: -70px;
	position: absolute;
	text-align: justify;
}
.chat-section span.italic {
	font-style: italic;
}
.chat-section span.big {
	font-family: Times;
	font-size: 31px;
}
.chat-section span.shadow {
    text-shadow: 5px 5px 5px #ff0000;
}
.chat-section form input[type="text"] {
    margin-left: 2px;
    width: 300px;
    border: 2px solid #9d969d;
    border-bottom-color: #eeeeee;
    border-right-color: #eeeeee;
    height: 15px;
}
.chat-section form input[type="submit"] {
    border: 1px solid #a8a4a5;
    border-radius: 1px;
    background-color: #f4eff3;
    margin-left: 4px;
    height: 20px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4eff3), to(#dcdcdc));
}